/* Reset Style Rule */
* {
	margin: 0;
	padding: 0;
	border: 0;
} 
/* }}}---->>> Pop-Up Box <<<----{{{ */

dialog {
	background-color: #6699FF;
	color: aliceblue;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 2rem;
	text-align: center;
	margin-left: 9rem;
	margin-top: 4rem;
	z-index: 999;
}

button {
	background-color: blue;
	color: aliceblue;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: .5rem;
	margin-top: 10px;
}

/* Body Styles */

body {
	background-color: rgb(13, 13, 46);
	background-image: url("../images/background.PNG");
	width: 100%;
	height: 100%;
}

/* Header Styles */

header {
    height: 60px;
    background-color: rgba(128, 128, 128, .5);
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* Main Navigation (Hamburger Menu) */

.mainnav {
    width: 100%;
    display: grid;
    grid-template-columns: 50px 3fr;
    grid-template-areas:
    "hamburger name-tag name-tag name-tag"
    "menu menu menu menu";
}

#checkbox {
	display: none;
}

/* Change the background color of the hamburger menu. You will also notice that the icon
has been assigned the grid area of hamburger as listed in the .mainnav. */
#icon {
	color: white;
    background-color: rgba(108, 108, 214, .5);
	font-size: 2rem;
	padding: .5rem;
	cursor: pointer;
    grid-area: hamburger;
    place-self: center;
}

/* Style the business name and tagline. The grid area of 'name-tag' (as indicated in the .mainnav) 
has been assigned here. This div is also centered in the nav. Note: You will need to apply the actual fonts
you have selected for your site to these style rules. */
.name-tag {
    grid-area: name-tag;
    place-self: center;
}

.name-tag h1 {
    color: white;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.name-tag h2 {
    color: white;
    font-size: .75rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

/* Style the unordered list for mobile. The grid area (menu) is assigned, this item is aligned to the end
of the grid, the list is hidden and the z-index is increased so that this remains on top of all other content.*/
.mainnav ul {
    background-color:rgba(60, 75, 143, 0.966);
    grid-area: menu;
    align-self: end;
    display: none;
    z-index: 999;
	width: 70%;
}

.mainnav ul li {
    list-style-type: none;
    padding: 5%;
}

.mainnav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#checkbox:checked~ul {
	display: block;
}

/* @font-face {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	src: url("../")
} */

/* }}}---->>> Body <<<----{{{ */

main h1 {
	color: white;
	text-align: center;
	font-family: cursive;
	/* margin-top: 1rem; */
}

main h2 {
	color: white;
	text-align: center;
	font-family: cursive;
}

@keyframes coolnav {
	75% {left: 0px; top:200px;}
	0% {left: 0px; top:0px;}
}

.imagenav {
	list-style-type: none;
	padding: 5.5rem;
	display: grid;
	/* min height, padding */
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 4rem;
	row-gap: 3rem;
}

nav.imagenav {
	animation-name: coolnav;
	animation-duration: 3s;
	animation-direction: normal;
	animation-fill-mode: both;
}

h3.nav {
	color: white;
	text-decoration: none;
	font: 30px aladin, DejaVu Sans, Trebuchet MS, Verdana, Garamond, georgia, arial;
	text-shadow: 0 0 20px rgb(3, 12, 36);
	font-weight: bold;
}

.imagenav a:link {
	color: white;
	text-decoration: none;
}

.imagenav a:hover {
	color: rgb(173, 176, 230);
}

.imagenav a:visited {
	color: rgba(255, 255, 255, 0.966)
}

p style {
	color: white;
}

#art {
	background-image: url("../images/contact.JPG");
	height: 140px;
    width: 12rem;
	background-repeat: no-repeat;
	/* background-color: #6699FF; */
	position: relative;
	text-align: center;
	text-decoration: none;
	box-shadow: 15px 15px rgba(62, 62, 148, 0.323);
}

#art h3 {
    margin-top: 30%;
}

#bio {
	background-image: url("../images/bio.JPG");
	height: 140px;
    width: 12rem;
	background-repeat: no-repeat;
	/* background-color: #6699FF; */
	position: relative;
	text-align: center; 
	text-decoration: none;
	box-shadow: 15px 15px rgba(62, 62, 148, 0.323);
}

#bio h3 {
    margin-top: 30%;
}

#cosplay {
	background-image: url("../images/cosplay.JPG");
	height: 140px;
    width: 12rem;
	background-repeat: no-repeat;
	/* background-color: #6699FF; */
	position: relative;
	text-align: center;
	text-decoration: none;
	box-shadow: 15px 15px rgba(62, 62, 148, 0.323);
}

#cosplay h3 {
    margin-top: 30%;
}

#shop {
	background-image: url("../images/shop.PNG");
	height: 140px;
    width: 12rem;
	background-repeat: no-repeat;
	/* background-color: #6699FF; */
	position: relative;
	text-align: center;
	text-decoration: none;
	box-shadow: 15px 15px rgba(62, 62, 148, 0.323);
}

#shop h3 {
    margin-top: 30%;
}

#socialmedia {
	background-image: url("../images/social-media.JPG");
	height: 140px;
    width: 12rem;
	background-repeat: no-repeat;
	/* background-color: #6699FF; */
	position: relative;
	text-align: center;
	text-decoration: none;
	box-shadow: 15px 15px rgba(62, 62, 148, 0.323);
}

#socialmedia h3 {
    margin-top: 30%;
}

#tutorials {
	background-image: url("../images/tutorials.PNG");
	height: 140px;
    width: 12rem;
	background-repeat: no-repeat;
	/* background-color: #6699FF; */
	position: relative;
	text-align: center;
	text-decoration: none;
	box-shadow: 15px 15px rgba(62, 62, 148, 0.323);
}

#tutorials h3 {
    margin-top: 30%;
}

/* >> Footer << */

footer {
	color: white;
	text-align: center;
    background-color: #0614308e;
    padding: 2rem;
    font-size: .7rem;
}

footer a:link {
	color: white;
}

footer a:visited {
	color: lightblue;
}

/* background clip, position, size, origin (position x & y ) */

/* .grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5rem; 
	align-items: center;
}
*/

/* }}}---->>> Mobile Layouts <<<----{{{ */

@media screen and (max-width: 767px) {

.imagenav {
		grid-template-columns: 1fr 1fr;
		/* padding: 5.5rem;
		column-gap: 7rem;
		row-gap: 2rem; */
		align-items: center;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
   
.imagenav {
		grid-template-columns: 1fr 1fr;
		align-items: center;
		/* padding: 5.5rem;
		column-gap: 10rem;
		row-gap: 3rem; */
	}
	/* .mainnav {
		width: 40%;
		max-height: 75px;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	} */
}

@media screen and (min-width: 1025px) {
.imagenav section {
		flex-basis: 100%;
	}

.imagenav {
		grid-template-columns: 1fr 1fr 1fr;
		align-items: center;
		/* padding: 5.5rem;
		column-gap: 13rem;
		row-gap: 3rem; */
	}

	/* Week 11 summary & Sources */
#icon {
		display: none;
	}

main h1 {
		background-color:#1228548e;
	}

main h2 {
		background-color:#1228548e;
	}
}